/* Définition des polices personnalisées */

:root {
  font-size: 15px;
  --primary: #9256dc;
  --secondary: #ff79da;
  --tertiary: #99e2d0;
  --background-color: #f2f2f2;
}

body {
  margin: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.lds-hourglass {
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  top: 250px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
  background-color: var(--primary);
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.loader-wrapper {
  background-color: var(--background-color);
}

.loader-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2500px;
  -webkit-animation: hideLoader 0s ease-in 3s forwards;
  animation: hideLoader 0s ease-in 3s forwards;
  width: 100%;
}

@-webkit-keyframes hideLoader {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
@keyframes hideLoader {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.index {
  opacity: 0;
  -moz-animation: anim 1s linear forwards 3s;
  -webkit-animation: anim 1s linear forwards 3s;
  -o-animation: anim 1s linear forwards 3s;
  -ms-animation: anim 1s linear forwards 3s;
  animation: anim 1s linear forwards 3s;
}
@-moz-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.backgrd_grey {
  background-color: var(--background-color);
}

.color_grey {
  color: var(--background-color);
}

.color_whrite {
  color: white;
}

/* Page d'acceuil */

/*Header*/

/*Logo*/

header {
  background-color: white;
}

#logo_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}

#logo_header_img {
  width: 47%;
  margin: auto;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

/*Searchbar*/

.container_searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e0e0;
  border-top: 1px solid grey;
  width: 100%;
}

.searchbar_logo {
  margin-right: 17px;
  font-size: 110%;
}

.searchbar_city {
  display: inline-block;
  width: 140px;
}

#city {
  background-color: #e2e0e0;
  border: none;
  width: 160px;
  font-size: 1.07rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #575757;
}

/*Title_explorer*/

.title_header {
  text-align: center;
  width: 65%;
  padding-top: 40px;
  margin: auto;
  font-size: 1.4rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.under_title_header {
  margin-top: 8px;
  text-align: center;
  width: 95%;
  margin: auto;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.explorer_header {
  background-color: var(--primary);
  border-radius: 25px 25px 25px 25px;
  height: auto;
}

.search_explorer_header {
  background-color: var(--primary);
  color: white;
  border: none;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  font-size: 0.9rem;
}

.search_restaurant {
  height: 100px;
}

/*Main*/

/*Fonctionnement*/

.container_fonctionnement {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.title_fonctionnement {
  font-size: 1.5rem;
  margin-left: 15px;
}

.block_fonctionnement {
  display: flex;
  flex-direction: row;
  width: 80%;
  background-color: var(--background-color);
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 10px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgb(133 130 130);
}

.block_fonctionnement:hover {
  background-color: #f7d7ee;
}

.fonctionnement_number {
  display: flex;
  background-color: var(--primary);
  color: white;
  border-radius: 50px;
  width: 22px;
  height: 22px;
  justify-content: center;
  margin-left: -10px;
  margin-right: 20px;
}

.block_fonctionnement_symbol {
  width: 10%;
}

.fa-style {
  color: #575757;
  font-size: 105%;
}

.fa-house {
  color: var(--primary);
  font-size: 105%;
}

.block_fonctionnement_text {
  margin-left: 10px;
  margin-right: auto;
  font-weight: bold;
}

footer {
  background-color: rgb(54, 54, 54);
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 30px;
}

#logo_footer_img {
  width: 40%;
  padding-left: 25px;
  margin-bottom: 20px;
  margin-top: 30px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.lign_footer {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding-left: 25px;
  color: white;
  height: 28px;
}

.fa-utensils {
  font-size: 80%;
  width: 16px;
}

.fa-handshake {
  transform: rotate(130deg); /* Équivalent à rotateZ(130deg) */
  font-size: 80%;
}

.p_footer {
  margin-left: 10px;
  color: white;
}

.a_footer {
  color: white;
  text-decoration: none;
}

.a_footer_logo {
  color: white;
  margin-left: -5px;
}

/*Restaurant*/

.container_restaurant {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  width: 100%;
  height: 1200px;
  margin-top: 45px;
}
.block_title_restaurant {
  display: inline;
}

.title_restaurant {
  font-size: 1.5rem;
  margin-left: 15px;
  margin-top: 45px;
}

.container_restaurant_block {
  width: 100%;
  height: auto;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.block_restaurant {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 330px;
  height: 245px;
  border-radius: 20px;
}

.block_restaurant_img {
  width: 330px;
  height: 180px;
  background-color: white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: inline-block;
  position: relative;
}

.restaurant_img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 330px;
  height: 180px;
  object-fit: cover;
}

.img_new {
  background: rgba(180, 251, 255, 0.876);
  position: absolute;
  text-align: center;
  margin: 0 auto;
  right: 3%;
  top: 8%;
  color: rgb(0, 160, 158);
  width: 25%;
  height: 17%;
  border-radius: 2px;
  font-weight: 600;
  font-size: 90%;
}

.img_new p {
  margin-top: 7px;
}

.underblock_restaurant {
  display: inline-block;
  flex-direction: row;
}

.block_restaurant_info {
  display: inline-flex;
  flex-direction: column;
  width: 70%;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.block_restaurant_heart {
  float: right;
  font-size: 150%;
  margin-right: 30px;
  margin-top: 10px;
}

.heart_bloc {
  position: relative;
  top: 14px;
  right: 25px;
  font-size: 135%;
  color: white;
}

.heart_color:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--primary);
}

.restaurant_undertitle {
  margin-top: 12px;
  margin-bottom: 2px;
  position: relative;
  left: 13px;
  font-weight: bold;
  font-size: 1.05rem;
  color: black;
  text-decoration: none;
}

.restaurant_p {
  position: relative;
  left: 13px;
  font-size: 0.94rem;
  font-weight: 300;
  margin-top: 0px;
  color: black;
  text-decoration: none;
}

/* Restaurant 01/02/03/04 */

.fa-arrow-left {
  margin: auto;
  font-weight: 900;
  color: black;
  position: absolute;
  top: 26px;
  left: 6%;
  font-size: 130%;
}

#img_header_page_png {
  position: relative;
  width: 100%;
  height: 260px;
  z-index: 1;
  object-fit: cover;
}

.container_title_page {
  height: 65px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  z-index: 2;
  background-color: var(--background-color);
  bottom: 45px;
  position: relative;
  display: -webkit-inline-box;
  width: 100%;
}

.title_page {
  position: relative;
  top: 10px;
  left: 5%;
  font-size: 1.7rem;
  font-family: "Shrikhand", cursive;
}

.heart_page {
  position: absolute;
  right: 38px;
  top: 35px;
  font-size: 160%;
}

.fa-heart {
  -webkit-text-stroke: 1px black;
  float: right;
  cursor: pointer;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.fa-heart:visited,
.fa-heart:hover,
.fa-heart:focus,
.fa-heart:active {
  color: var(--primary);
  /*color: linear-gradient(
    to right bottom,
    #9356dc,
    #b35cdc,
    #cf64dc,
    #e86edb,
    #ff79da
  );*/
}

/* Main */

.main_resto {
  height: auto;
}

.container_bloc_food {
  width: 32px;
  position: relative;
  left: 8%;
  top: 15px;
  margin-bottom: 30px;
  border-bottom: 3px solid var(--tertiary);
  padding-bottom: 5px;
  font-size: 100%;
  font-weight: 400;
}

.section_food {
  position: relative;
  bottom: 52px;
  width: 100%;
}

.bloc_food {
  background-color: white;
  border-radius: 15px;
  width: 86%;
  height: 65px;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 8px grey;
  display: flex;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  position: relative;
  top: 4px;
}

.bloc_food:hover .price_select {
  background-color: var(--tertiary);
  width: 25%;
  height: auto;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.price_select {
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
  width: 0%;
  transition-duration: 1s;
}

.price {
  position: relative;
  top: 25px;
  right: 10px;
  font-weight: 600;
  font-size: 0.95rem;
  transition-duration: 1s;
}

.bloc_food:hover .fa-check {
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform: rotate(0deg);
}

.fa-check {
  background-color: white;
  padding: 3px;
  width: 15px;
  height: 15px;
  color: var(--tertiary);
  border-radius: 15px;
  transform: rotate(-240deg);
  transition-duration: 1s;
  display: flex;
  margin: auto;
}

.first {
  animation: fadein 1500ms 700ms;
  -moz-animation: fadein 1500ms 700ms; /* Firefox */
  -webkit-animation: fadein 1500ms 700ms; /* Safari et Chrome */
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.second {
  animation: fadein 1500ms 900ms;
  -moz-animation: fadein 1500ms 900ms; /* Firefox */
  -webkit-animation: fadein 1500ms 900ms; /* Safari et Chrome */
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.last {
  animation: fadein 1500ms 1100ms;
  -moz-animation: fadein 1500ms 1100ms; /* Firefox */
  -webkit-animation: fadein 1500ms 1100ms; /* Safari et Chrome */
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title_food {
  width: 100%;
}

.title_food_bloc {
  position: relative;
  bottom: 10px;
  left: 10px;
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h4 {
  font-size: 1.06rem;
}

.under {
  font-size: 0.92rem;
  position: relative;
  bottom: 22px;
}

.container_button {
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  bottom: 30px;
}

.button {
  display: block;
  padding-bottom: 30px;
  margin: auto;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff79d9),
    to(#9256dc)
  );
  background: -webkit-linear-gradient(top, #ff79d9, #9256dc);
  background: -moz-linear-gradient(top, #ff79d9, #9256dc);
  background: -ms-linear-gradient(top, #ff79d9, #9256dc);
  background: -o-linear-gradient(top, #ff79d9, #9256dc);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 90%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.button_index {
  padding: 14px 24px;
}

.button_page {
  padding: 14px 45px;
}

.button:hover {
  border-top-color: #28597a;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 3px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 3px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 3px 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff8edf),
    to(#9d6adc)
  );
  background: -webkit-linear-gradient(top, #ff8edf, #9d6adc);
  background: -moz-linear-gradient(top, #ff8edf, #9d6adc);
  background: -ms-linear-gradient(top, #ff8edf, #9d6adc);
  background: -o-linear-gradient(top, #ff8edf, #9d6adc);
  color: white;
}

.button:active {
  border-top-color: #1b435e;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff8edf),
    to(#9d6adc)
  );
  background: -webkit-linear-gradient(top, #ff8edf, #9d6adc);
  background: -moz-linear-gradient(top, #ff8edf, #9d6adc);
  background: -ms-linear-gradient(top, #ff8edf, #9d6adc);
  background: -o-linear-gradient(top, #ff8edf, #9d6adc);
  color: white;
}

@media screen and (min-width: 994px) {
  /* Ici, le CSS s'applique sur les écrans de 994px de largeur minimum */
  :root {
    font-size: 20px;
  }

  body {
    margin: 0;
    margin: auto;
    height: 100%;
    width: 50%;
  }

  .fa-arrow-left {
    position: absolute;
    top: 7%;
    left: 27%;
    margin: auto;
    font-size: 160%;
  }

  .title_food_bloc {
    position: relative;
    bottom: 20px;
    left: 10px;
  }

  h4 {
    font-size: 1.06rem;
  }

  .under {
    bottom: 40px;
  }

  .fa-check {
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
}
